<div class="container">
  <div class="page-header">
    <h1>Listando Pontos de Coleta</h1>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Pontos</h3>
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>Address</th>
            <th>Name</th>
            <th>Google address</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @collection_points.each do |collection_point| %>
          <tr>
           <td><%= collection_point.address %></td>
           <td><%= collection_point.name %></td>
           <td><%= collection_point.google_address %></td>
           <td><%= link_to 'Exibir', collection_point %></td>
           <td><%= link_to 'Editar', edit_collection_point_path(collection_point) %></td>
           <td><%= link_to 'Deletar', collection_point, method: :delete, data: { confirm: 'Você tem certeza disso?' } %></td>
         </tr>
         <% end %>
       </tbody>
     </table>      
   </div>
 </div>

 <%= link_to 'Novo Ponto de Coleta', new_collection_point_path, class: "btn btn-info" %>

 <br>
</div>

