<div class="jumbotron">
	<div class="container">
		<%= image_tag("lx.png", size: '180x250') %>
		<h1>Compartilhe esta ideia!</h1>
		<p>
			Inicialmente o acúmulo de lixo eletrônico não representava um problema, porém com o crescimento exponencial da tecnologia o acúmulo tem sido cada vez maior, não havendo espaço físico apropriado para armazenagem e nem condições adequadas para reciclagem de todo o material descartado.
		</p>
		<p>
			Venha conosco melhorar o meio ambiente!!!
		</p>
		<p><a class="btn btn-success btn-lg" role="button">Conheça o nosso trabalho &raquo;</a></p>
	</div>
</div>

<div class="section-one">
	<div class="container-fluid">
		<div class="row">
			
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-6">
						<h2><%= icon('recycle', 'Case de Sucesso') %></h2>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-info" href="#" role="button">Ver Detalhes &raquo;</a></p>
					</div>
					<div class="col-md-6">
						<h2><%= icon('recycle', 'Case de Sucesso') %></h2>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-info" href="#" role="button">Ver Detalhes &raquo;</a></p>
					</div>
				</div>
				
				<div class="row" style="margin-top: 70px; margin-bottom: 50px;">
					<div class="col-md-6">
						<h2><%= icon('recycle', 'Case de Sucesso') %></h2>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-info" href="#" role="button">Ver Detalhes &raquo;</a></p>
					</div>
					<div class="col-md-6">
						<h2><%= icon('recycle', 'Case de Sucesso') %></h2>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
						<p><a class="btn btn-info" href="#" role="button">Ver Detalhes &raquo;</a></p>
					</div>						
				</div>					
			</div>
			
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title"><%= icon('trophy', 'Top 10 Doadores') %></h3>
							</div>
							<div class="panel-body">
								<ol>
									<li>Daniel</li>
									<li>Milton</li>
									<li>Rodrigo</li>
									<li>Daniel</li>
									<li>Milton</li>
									<li>Rodrigo</li>
									<li>Daniel</li>
									<li>Milton</li>
									<li>Rodrigo</li>
									<li>Daniel</li>
								</ol>
							</div>
						</div> <!-- end panel -->
					</div>

					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title"><%= icon('trophy', 'Top 10 Doadores') %></h3>
							</div>
							<div class="panel-body">
								<ol>
									<li>Daniel</li>
									<li>Milton</li>
									<li>Rodrigo</li>
									<li>Daniel</li>
									<li>Milton</li>
									<li>Rodrigo</li>
									<li>Daniel</li>
									<li>Milton</li>
									<li>Rodrigo</li>
									<li>Daniel</li>
								</ol>
							</div>
						</div> <!-- end panel -->
					</div>
				</div>
				
			</div> <!-- end col -->
			</div>	
		</div>
	</div>
</div>
