<h1>Listing donations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Collection point</th>
      <th>Bonu</th>
      <th>Pending</th>
      <th>Points</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @donations.each do |donation| %>
      <tr>
        <td><%= donation.user %></td>
        <td><%= donation.collection_point %></td>
        <td><%= donation.bonu %></td>
        <td><%= donation.pending %></td>
        <td><%= donation.points %></td>
        <td><%= link_to 'Show', donation %></td>
        <td><%= link_to 'Edit', edit_donation_path(donation) %></td>
        <td><%= link_to 'Destroy', donation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Donation', new_donation_path %>
