<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @donation.user %>
</p>

<p>
  <strong>Collection point:</strong>
  <%= @donation.collection_point %>
</p>

<p>
  <strong>Bonu:</strong>
  <%= @donation.bonu %>
</p>

<p>
  <strong>Pending:</strong>
  <%= @donation.pending %>
</p>

<p>
  <strong>Points:</strong>
  <%= @donation.points %>
</p>

<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
