<!DOCTYPE html>
<html>
<head>
  <title>Garbage Collector</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>
	
	<%= render 'layouts/navbar' %>
	<%= render 'layouts/messages' %>
	<%= yield %>

	<div class="footer">
		<div class="container">
			<div class="row">
				<p class="foot">
					Copyright &copy; StartApps <%= Time.now.year %>
					<%= link_to icon('github-square'), root_path, class: 'pull-right' %>
					<%= link_to icon('twitter-square'), root_path, class: 'pull-right' %>
					<%= link_to icon('facebook-square'), root_path, class: 'pull-right' %>
				</p>
			</div>
		</div>
	</div>

</body>
</html>
